<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Home Page</title> 
      
    <style type="text/css" media="screen"> 
        body { 
            background-color: skyblue; 
            text-decoration-color: white; 
            font-size:1em;  
        } 
    </style> 
</head> 
  
<body> 
    <center>This is my home page.</center> 
    <h5>Workshop</h5>
</body> 
  
</html>     